<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="./css/styles.css" rel="stylesheet"/>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
          crossorigin="anonymous">
    <title>Admiral</title>
</head>
<body>
    <main>
        <h1>Orders List</h1>

        <table class="table table-striped table-responsive-md">
            <thead>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Discount</th>
            </thead>
            <tbody>
                <tr th:each="item: ${allOrders}">
                    <td th:text="${item.name}"></td>
                    <td th:text="${item.description}"></td>
                    <td th:text="${item.price}"></td>
                    <td>
                        <a class="btn btn-primary"
                           data-toggle="modal"
                           data-target="#myModal">Apply Discount</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <h1> This is my Modal</h1>
                    <form action="#" th:action="@{/applyDiscount}" th:object="${Order}" method="post">
                        <input type="text" name="code" />
                        <button>Apply</button>
                    </form>
                </div>
            </div>
        </div>
    </main>
</body>

<!-- JavaScript Bundle with Popper -->
<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>
</html>